pkgbase = wolkenernte
	pkgdesc = Bilder und Videos aus den Wolken holen und dort aufräumen
	pkgver = 0.4.4
	pkgrel = 1
	url = https://github.com/Stephan-Lefty/WOLKENErnte
	arch = any
	license = MIT
	checkdepends = python-pillow
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	optdepends = rclone>=1.75.0: Bilder aus Wolkenspeichern holen und dort aufräumen
	optdepends = pyside6: die Fensteranwendung (wolkenernte fenster)
	optdepends = python-pillow: Vorschaubilder, Doppelgängersuche und Aufnahmedatum aus dem Bild
	optdepends = ffmpeg: Vorschaubilder aus Videos
	optdepends = python-onnxruntime-cpu: Schlagwörter aus dem Bild
	optdepends = perl-image-exiftool: Metadaten von Fotos und Videos (noch nicht eingebaut)
	options = !debug
	source = wolkenernte-0.4.4.tar.gz::https://github.com/Stephan-Lefty/WOLKENErnte/archive/refs/tags/v0.4.4.tar.gz
	sha256sums = 402dbe98acfd5a2b1752401e493f0a161d8f3f46686accc31810524eab816391

pkgname = wolkenernte
